redis==5.0.1
rq==1.15.1
langchain==0.2.16
langchain-community==0.2.16
langchain-weaviate==0.0.2
langchain-ollama==0.1.3
langchain-core==0.2.38
weaviate-client==4.7.1
pydantic==2.9.0
pydantic-settings==2.5.2
numpy>=1.26.2,<2.0.0